
<div>
  <button (click)="toggle()">Toggle</button>  
  
  <div [class.expanded]="expandedChange | async" [@bodyExpansion]="getExpandedState()">
    Hidden content
    Hidden content
    Hidden content
    Hidden content
    Hidden content
    Hidden content
  </div>
</div>