@import '~@angular/material/theming';


.search-icon {
  @include mat-elevation(8, orange);
}

.row{
	width: 100%;
}
.container {

}
/*

.search-icon{
position: -webkit-sticky;
  position: sticky;
  top: -1px;
	margin-left: 100px;
	z-index: 1000;
	@include $mat-elevation(2);
}

.tabs{
	position: relative;
}

#fixedone{
	position: -webkit-sticky;
  position: sticky;
  left: -100px;
}*/