<div class="row">
	<div class="container">
		<div class="tabs">
			<mat-tab-group>
				  <mat-tab class="main-section" *ngFor="let section of sections">
				  	<ng-template mat-tab-label>
			  			<a routerLink="/{{section.key}}" routerLinkActive="active">{{section.name}}</a>
			  		</ng-template>
			  		<ng-template matTabContent>
			  			<router-outlet></router-outlet>
			  		</ng-template>
			  		
				  </mat-tab>

			</mat-tab-group>
		</div>
	</div>
</div>


