<div class="row">
	<div class="left"> <p class="inline-select-label">Channel Lineup for  </p>
		<mat-form-field>
			<mat-select [(value)]="pkgselected">
				<mat-option value="allaccess">All Access Package</mat-option>
				<mat-option value="select">Select</mat-option>
				<mat-option value="mostlymusic">Mostly Music</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div class="right">
		<button mat-button>
			<mat-icon aria-label="Print button with a print icon">print</mat-icon>
	  	Print
		</button>
		<button mat-button>
			<mat-icon aria-label="Save as PDF button with a save icon">picture_as_pdf</mat-icon> 
			Download
		</button>
	</div>
</div>