
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';



$general-base-typography: mat-typography-config(
  $font-family: '"Comic Sans", "Roboto", sans-serif',
  $button:        mat-typography-level(14px, 14px, 500),
);


@include mat-core($general-base-typography);


*:not(.mat-icon) {
	font-family: 'Gotham';
}

a, a:visited {
	text-decoration: none;
	color: inherit;

}
